.collectionsContaier {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}
.collectionsContaier .description {
  margin-top: 20px;
  color: var(--black-light-color);
}
.collectionsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}
.collectionsCards .card {
  box-shadow: 4px 3px 6px 1px #00000012;
  display: grid;
  place-items: center;
  height: 80px;
  width: 250px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.5s;
  background-color: var(--white-color);
}
.collectionsCards .card p {
  transition: color 0.2s;
}
.collectionsCards .card:hover p {
  color: var(--primary-color);
}

.subCardWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-right: 0;
  border-left: 0;
  padding: 60px 25px 30px 25px;
  position: relative;
  margin: 20px 0;
  background-color: var(--gray-light-400);
  border-radius: 10px;
}
.subCardContainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.subCardTitle {
  position: absolute;
  top: 15px;
  color: var(--black-color);
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */

@media (max-width: 590px) {
  .subCardContainer .card {
    align-items: center;
    justify-content: center;
  }
  .collectionsCards {
    justify-content: center;
    margin-top: 20px;
  }
  .subCardWrapper {
    justify-content: center;
  }
  .subCardContainer {
    justify-content: center;
  }
  .subCardTitle {
    text-align: center;
    left: 0;
    right: 0;
  }
}
@media (max-width: 500px) {
  .collectionsContaier .description {
    margin-top: 10px;
  }
  .collectionsCards {
    gap: 20px;
  }
  .collectionsCards .card {
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
