.container {
  background: var(--primary-color);
  min-width: max-content;
  transition: all 0.5s;
  border-radius: 7px;
  height: 35px !important;
  color: white;
  border-color: var(--primary-color) !important;
  padding: 0 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
  outline: none !important;
}

.container:hover {
  transition: all 0.5s;
  background: var(--primary-color) !important;
  color: white !important;
}

.container {
  opacity: 1 !important;
}
