.container {
  width: max-content;
  background-color: #e5eeff;
  padding: 4px 15px;
  border-radius: 25px;
  color: #256aff;
  font-size: 15px;
  font-weight: 400;
  display: inline;
  position: relative;
  left: 8px;
  height: fit-content;
}
