.baseTitle {
  margin-bottom: 40px;
}

.wrapper {
  display: grid;
  gap: 10px;
}
.container {
  margin-bottom: 35px;
}

.colorsContainer {
  row-gap: 25px;
  column-gap: 20px;
  margin-bottom: 40px;
}
.staticVariants {
  display: flex;
  flex-wrap: wrap;
}
.dynamicVariants {
  display: flex;
  flex-wrap: wrap;
}

.box {
  border-radius: 12px;
  width: 150px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 1px;
  padding: 0px 5px;
  transition: all 0.3s;
}

.rootBox {
  /* margin-right: 25px; */
}

.colorName {
  text-align: center;
}
.colorName.icon {
  top: -2px;
}
.copyText {
  top: 0;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .rootBox {
    margin-right: 0;
  }
  .container {
    margin-bottom: 50px;
  }
}
