.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.icon {
  margin-top: 4px;
  color: #d38a00;
  font-size: 18px;
}

.content {
  flex: 1;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: #444;
}
