/* ---------- container ---------- */
.accordianWrapper {
  display: grid;
  gap: 0px;
}
.accordianContainer {
  display: grid;
  gap: 10px;
}
.titleSection {
  padding: 12px 25px;
  background-color: #f4f4f4;
  border-radius: 0px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10px;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}
.titleSection .title {
  color: var(--black-color);
}
.dropdown {
  color: var(--black-color-light);
}
/* .titleSection.active {
  background-color: var(--primary-color);
  color: white;
} */
.icon {
  transition: transform 0.3s;
  font-size: 22px;
  color: var(--black-color);
}
.plusIcon.active {
  transform: rotate(90deg);
  display: none;
  transition: transform 1s;
}
.minusIcon {
  display: none;
  transform: rotate(90deg);
}
.minusIcon.active {
  transform: rotate(0deg);
  display: block;
  transition: transform 1s;
}

/* ---------- dropdown ---------- */
.dropdown {
  margin-left: 25px;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0px;
  transition: max-height 0.5s;
  transition: margin-bottom 0.5s;
  line-height: 30px;
}
.showDropdown {
  max-height: 500px;
  margin-bottom: 20px;
}

/* ---------- product info ---------- */
.description {
  display: grid;
  margin-bottom: 15px;
  color: var(--black-dark-color);
}
.infoRow {
  display: flex;
  gap: 10px;
}
.infoRow .leftInfo {
  color: var(--black-soft-color);
}
