/* ---------- my profile ---------- */
.passwordForm {
  width: 100%;
  max-width: 500px;
}
.passwordForm :global(.ant-form-item input) {
  border-radius: 8px !important;
  border-color: var(--white-dark-color) !important;
  background-color: transparent !important;
}
.passwordForm :global(.ant-form-item) {
  margin-bottom: 10px;
}
.button {
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
  padding: 6px 40px !important;
  border-radius: 8px !important;
  margin-top: 30px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .passwordForm {
    width: 100%;
    max-width: 100%;
  }
}
