.componentContainer {
  display: flex;
  gap: 60px;
  position: relative;
}

.rightComponent {
  width: 100%;
  padding-left: 200px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .componentContainer {
    gap: 0px;
  }
  .rightComponent {
    padding-left: 0px;
  }
}
