:root {
  /* ---------- white ---------- */
  --white-color: #ffffff;
  --white-color-100: #f9f9f9;
  --white-color-200: #f2f2f2;
  --white-color-300: #ececec;
  --white-color-400: #e6e6e6;
  --white-color-500: #dfdfdf;
  --white-color-600: #d9d9d9;

  /* ---------- gray ---------- */
  --gray-color: #808080;
  --gray-color-100: #cfcfcf;
  --gray-color-200: #c2c2c2;
  --gray-color-300: #b5b5b5;
  --gray-color-400: #a9a9a9;
  --gray-color-500: #9c9c9c;
  --gray-color-600: #8f8f8f;

  /* ---------- black ---------- */
  --black-color: #000000;
  --black-color-100: #767676;
  --black-color-200: #5c5c5c;
  --black-color-300: #434343;
  --black-color-400: #292929;
  --black-color-500: #1c1c1c;
  --black-color-600: #0d0d0d;

  /* ---------- shadow ---------- */
  --box-shadow-100: 1px 1px 14px 1px #0000000d; /* 5% opacity */
  --box-shadow-200: 1px 1px 14px 1px #00000014; /* 8% opacity */
  --box-shadow-300: 1px 1px 14px 1px #0000001c; /* 11% opacity */
  --box-shadow-400: 1px 1px 14px 1px #00000026; /* 15% opacity */
}
