:root {
  /* ---------- screen width ---------- */
  --root-mobile-width: calc(100% - 30px);
  --root-web-width: 90%;
  --root-web-maxwidth: 1600px;

  --wrapper-space: 60px;
  --container-space: 30px;
}

/* ---------- ellipsis ---------- */
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: pretty;

  line-clamp: 1;
  -webkit-line-clamp: 1;
}
.ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: pretty;

  line-clamp: 2;
  -webkit-line-clamp: 2;
}

/* ---------- scrollbar ---------- */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 100px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #c1c1c1;
}

/* ----------- wrapper ----------- */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-margin {
  margin: var(--wrapper-space) 0;
}
.wrapper-margin-top {
  margin-top: var(--wrapper-space);
}
.wrapper-margin-bottom {
  margin-bottom: var(--wrapper-space);
}
.wrapper-padding {
  padding: var(--wrapper-space) 0;
}
.wrapper-padding-top {
  padding-top: var(--wrapper-space);
}
.wrapper-padding-bottom {
  padding-bottom: var(--wrapper-space);
}
@media (max-width: 768px) {
  .wrapper-margin {
    margin: calc(var(--wrapper-space) - 20px) 0;
  }
  .wrapper-margin-top {
    margin-top: calc(var(--wrapper-space) - 20px);
  }
  .wrapper-margin-bottom {
    margin-bottom: calc(var(--wrapper-space) - 20px);
  }
  .wrapper-padding {
    padding: calc(var(--wrapper-space) - 20px) 0;
  }
  .wrapper-padding-top {
    padding-top: calc(var(--wrapper-space) - 20px);
  }
  .wrapper-padding-bottom {
    padding-bottom: calc(var(--wrapper-space) - 20px);
  }
}

/* ---------- container ---------- */
.container {
  width: var(--root-web-width);
  max-width: var(--root-web-maxwidth);
}
.container-margin {
  margin: var(--container-space) 0;
}
.container-margin-top {
  margin-top: var(--container-space);
}
.container-margin-bottom {
  margin-bottom: var(--container-space);
}
.container-padding {
  padding: var(--container-space) 0;
}
.container-padding-top {
  padding-top: var(--container-space);
}
.container-padding-bottom {
  padding-bottom: var(--container-space);
}

@media (max-width: 768px) {
  .container {
    width: var(--root-mobile-width);
  }
  .container-margin {
    margin: calc(var(--container-space) - 10px) 0;
  }
  .container-margin-top {
    margin-top: calc(var(--container-space) - 10px);
  }
  .container-margin-bottom {
    margin-bottom: calc(var(--container-space) - 10px);
  }
  .container-padding {
    padding: calc(var(--container-space) - 10px) 0;
  }
  .container-padding-top {
    padding-top: calc(var(--container-space) - 10px);
  }
  .container-padding-bottom {
    padding-bottom: calc(var(--container-space) - 10px);
  }
}
