@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 10px;
}

:root {
  --title-font-family: "Philosopher", sans-serif;
  --text-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;

  /* ---------- screen width ---------- */
  --root-mobile-width: calc(100% - 30px);
  --root-web-width: 90%;
  --root-web-maxwidth: 1600px;

  --wrapper-space: 60px;
  --container-space: 30px;
}

:root {
  /* ---------- primary ---------- */
  --primary-color: #256aff;
  --primary-color-10: #fdfeff;
  --primary-color-25: #f4f8ff;
  --primary-color-50: #e9f0ff;
  --primary-color-100: #d3e1ff;
  --primary-color-200: #a8c3ff;
  --primary-color-300: #7ca6ff;
  --primary-color-400: #5188ff;
  --primary-color-500: #3b79ff;
  --primary-color-600: #1e55cc;
  --primary-color-700: #1a4ab3;
  --primary-color-800: #0f2a66;
  --primary-color-900: #0b204d;
  --primary-color-950: #071533;

  /* ---------- secondary ---------- */
  --secondary-color: #671602;
  --secondary-color-10: #fdfdfc;
  --secondary-color-25: #f7f3f2;
  --secondary-color-50: #f0e8e6;
  --secondary-color-100: #e1d0cc;
  --secondary-color-200: #c2a29a;
  --secondary-color-300: #a47367;
  --secondary-color-400: #854535;
  --secondary-color-500: #762d1b;
  --secondary-color-600: #521202;
  --secondary-color-700: #480f01;
  --secondary-color-800: #290901;
  --secondary-color-900: #1f0701;
  --secondary-color-950: #150400;
}
