.sliderContainer {
  position: relative;
  width: 100%;
  min-height: 200px;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.oldImageContainer,
.newImageContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
}

.newImageContainer {
  z-index: 2;
  overflow: hidden;
}

.verticalSlider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #000000;
  z-index: 3;
}

.sliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -14px;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.leftIcon,
.rightIcon {
  font-size: 20px;
}

.leftIcon {
  position: relative;
  left: 3px;
}
.rightIcon {
  position: relative;
  right: 3px;
  rotate: 180deg;
}
