.componentContainer {
  display: flex;
  gap: 60px;
  position: relative;
  margin-top: 30px;
}
.rightComponent {
  width: 100%;
  padding-left: 200px;
  padding-top: 25px;
}

.breadCrumbWrapper {
  margin-bottom: 60px;
}
.breadCrumbContainer {
  position: fixed;
  top: 70px;
  background-color: var(--white-color);
  z-index: 99;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .componentContainer {
    gap: 0px;
  }
  .rightComponent {
    padding: 0px;
  }
}
