.testimonialSlider :global(.swiper-slide) {
  width: 450px;
  height: 250px;
}
.testimonialSlider :global(.swiper-pagination) {
  bottom: 4px !important;
}
.testimonialSlider :global(.swiper-pagination span) {
  background: var(--black-color);
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 460px) {
  .testimonialSlider :global(.swiper-slide) {
    width: 100%;
  }
}
