.collectionsContainer {
  max-width: 1400px;
  min-height: 50vh;
}
.breadContainer {
  width: 100%;
  padding: 20px 0 20px 0;
  /* border-bottom: 1px solid #c6c6c6; */
}
.productWrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 50px;
  padding-top: 20px;
  min-height: 60vh;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 900px) {
  .productWrapper {
    gap: 20px;
  }
}
@media (max-width: 690px) {
  .productWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding-top: 20px;
  }
}
