.headerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  /* box-shadow: 1px 1px 14px 1px #efefef; */
  background-color: var(--header-bg-color);
  transition: all 0.8s;
  z-index: 1000;
}
.leftCenterRightContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 88%;
}

.leftRightContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  width: 88%;
}

/* ------------ left Info--------- */
.leftInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.leftInfo img {
  width: 47px;
  height: 47px;
}
.leftInfo p {
  font-size: 26px !important;
}

/* ------------ center Info--------- */
.centerInfo {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

/* ------------ right Info--------- */
.rightInfo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29px, auto));
  justify-content: flex-end;
  align-items: center;
}

/* ----------- last menu button --------- */
.lastMenuButton {
  border-radius: 25px;
  padding: 7px 25px;
  background-color: #d8d8d8;
  color: black;
  width: max-content;
  height: fit-content;
  cursor: pointer;
  margin-left: 10px;
}

/* ---------- box menu ---------- */
.boxMenu {
  padding: 7px 20px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid transparent;
  cursor: pointer;
  border: 1px solid var(--dark);
  transition: border 1s;
}
.boxMenu:hover,
.boxMenu.active {
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  transition: all 0.5s;
}

/* ---------- media menu ---------- */
.mediaMenu {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 22px;
  display: grid;
  margin-left: 15px;
  place-items: center;
  box-shadow: 2px 2px 6px 1px #00000012;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 0.5s;
}
.mediaMenu:hover {
  background-color: var(--primary-light-color);
  color: var(--primary-color);
  transition: all 0.5s;
}
