.componentSearch {
  width: 100%;
  position: relative;
  top: 4px;
}
.container {
  display: flex;
  gap: 10px;
}

/*------------ input -----------*/
.searchInput {
  position: relative;
}
.componentSearch :global(.ant-form-item) {
  margin-bottom: 0px;
  width: 100%;
}
.componentSearch :global(.ant-form-item input) {
  height: 40px;
  width: 100%;
  border-radius: 25px;
  background-color: #f4f4f4 !important;
  color: var(--black-tint-color);
  font-weight: 400;
  letter-spacing: 0.5px;
  border-color: transparent !important;
  border-width: 1.5px !important;
  padding-right: 40px !important;
  padding-left: 17px !important;
  padding-bottom: 6px !important;
}
.componentSearch :global(.ant-input:hover),
.componentSearch :global(.ant-input:focus) {
  border-color: transparent !important;
  transition: all 0.5s;
  box-shadow: none !important;
  outline: none !important;
}
.componentSearch :global(.ant-form-item input::placeholder) {
  color: #777777;
  font-weight: 200;
}

/*------------ search icon -----------*/
.searchInput .icon {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #b1b1b1;
  font-size: 19px;
}

/* --------------- media queries ----------------
  ------------------------------------------------- */
@media (max-width: 1170px) {
  .componentSearch {
    display: none;
  }
}
@media (max-width: 460px) {
  .componentSearch {
    width: 100%;
  }
}
