.componentWrapper {
  display: flex;
  justify-content: flex-start;
}
.componentContainer {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
  margin: 20px 30px 20px 20px;
  width: 100%;
}

/* ---------- left component ---------- */
.leftComponent {
  height: calc(100vh - 40px);
  background: linear-gradient(
    120deg,
    rgba(217, 96, 219, 0.1) 0%,
    rgba(16, 115, 242, 0.1) 50%,
    rgba(50, 232, 223, 0.1) 100%
  );
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  /* overflow: auto; */
}
.logoWrapper {
  display: flex;
  margin: 20px;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logoContainer img {
  width: 45px;
  object-fit: contain;
}
.logoContainer p {
  color: var(--black-color);
}

/* ---------- left nav ---------- */
.leftNavWrapper {
  margin: 20px;
  margin-top: 0px;
  height: 100%;
}
.titleInfo {
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0px 10px 0px 10px;
  margin-top: 20px;
  padding: 8px 10px;
  background-color: var(--primary-light-color);
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.titleInfo p {
  color: var(--primary-color);
}
.titleInfo:hover {
  background-color: #bbd4ff;
}
.titleInfo .icon {
  color: var(--primary-color);

  font-size: 20px;
}
.leftNavContainer {
  height: 100%;
}
.leftNavSection {
  display: grid;
  gap: 5px;
  margin-top: 15px;
  height: calc(var(--parant-height) - 160px);
  overflow: auto;
}
.menuItem {
  color: var(---black-tint-color);
  padding: 7px 0px;
  transition: color 0.2s;
}
.menuItem:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.menuItem.active {
  color: var(--primary-color);
}
.subMenuItem {
  color: var(--black-tint-color);
  margin-left: 15px;
}

/* ---------- right component ---------- */

.header {
  width: calc(100% - 380px);
  display: grid;
  grid-template-columns: minmax(150px, 300px) 1fr;
  padding-top: 37px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}
.rightComponent {
  margin-left: 330px;
}
.componentNavbar {
  height: auto !important;
}
.componentNavbar :global(.webNavbar) {
  width: 100%;
  grid-template-columns: auto;
}
.componentNavbar :global(.webNavbarLogo) {
  display: none;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 1170px) {
  .leftComponent {
    display: none;
  }
  .rightComponent {
    margin-left: 0px;
  }
  .header {
    width: 100%;
    grid-template-columns: 1fr;
    margin-top: 0;
    top: 0;
    padding-top: 0;
  }
  .componentWrapper {
    justify-content: center;
  }
  .componentContainer {
    width: 100%;
    margin: 0;
  }
}
