.headerWrapper {
  width: auto;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.leftSection {
  display: flex;
  align-items: center;
  gap: 15px;
}
.rightSection {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  width: 100%;
  align-items: center;
}
.resultCount .text {
  margin-left: 10px;
}
.resizeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 19px;
}
.suiDropdown {
  min-width: 165px;
}
.stackIcon,
.gridIcon {
  cursor: pointer;
  transition: color 0.2s;
}

.stackIcon:hover,
.gridIcon:hover {
  cursor: pointer;
  color: var(--black-soft-color);
}
.dropdownContainer {
  display: flex;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */

@media (max-width: 420px) {
  .resultCount .text span {
    display: none;
  }
}
@media (max-width: 340px) {
  .resultCount .text {
    display: none;
  }
  .resultCount .count {
    background-color: var(--primary-light-color);
    color: var(--primary-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    padding-top: 1px;
  }
}
@media (max-width: 868px) {
  .leftSection {
  }
  .headerContainer {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
@media (max-width: 1033px) {
  .leftSection {
  }
  .headerContainer {
    align-items: flex-start;
  }
}
