.footerButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.footerButton:global(.button) {
  margin: 0 15px;
  padding: auto 10px;
  background-color: var(--black-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  max-height: 60vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
:global(.ant-modal-title) {
  color: var(--black-dark-color) !important;
  font-weight: var(--font-weight-400) !important;
  font-size: 18px !important;
}
.cartModal :global(.ant-modal-close) {
  background-color: #80808026 !important;
  margin-left: 10px !important;
  top:20px;
  right: 15px;
}
.cartModal :global(.ant-modal-title) {
  width: calc(100% - 30px);
}
