/* ---------- banner --------- */
.bannerContent {
  z-index: 1;
  padding: 0 10px;
  text-align: center;
}
.bannerContent h1 {
  color: var(--white-color);
  font-weight: 300;
}
.bannerContent h1 span {
  color: var(--primary-color);
  font-weight: 500;
}
.bannerContent p {
  color: var(--white-color);
  text-align: center;
  font-weight: 200;
  margin-top: 15px;
}

/* ---------- show button ---------- */
.fontButton {
  margin-top: 25px;
}

/* --------- about info ------------ */
.aboutInfoContainer {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: flex-start;
  gap: 40px;
}
.aboutInfoContainer img {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
  object-fit: cover;
}
.aboutInfoContainer .rightInfo p {
  margin-top: 15px;
  color: #222222;
}

/* --------- counter ------------ */
.counterContainer {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  box-shadow: 4px 3px 6px 1px #00000012;
  border-radius: 8px;
}
.counterItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
}
.counterItem .counter {
  font-size: 25px;
  font-weight: 500;
  color: var(--primary-color);
  border-radius: 50%;
  width: 81px;
  display: grid;
  place-items: center;
  height: 80px;
  border: 1px solid var(--primary-color);
  flex-shrink: 0;
}

/* ----------- products ----------- */
.productContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.productCard {
  cursor: pointer;
  max-width: 450px;
}
.productCard .imgContainer {
  display: grid;
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.productCard .imgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -165px 92px -51px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.productCard .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.productCard .imgContainer .textContainer {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 20px;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
.productCard .imgContainer .textContainer p {
  color: var(--white-color);
}
.productCard .imgContainer .textContainer .icon {
  border: 1.5px solid var(--white-color);
  border-radius: 50%;
  padding: 5px;
  color: var(--white-color);
  font-size: 30px;
}
.productCard .shortInfo {
  color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 15px;
}
.productCard .description {
  font-weight: 300;
  color: #525252;
}

/* -------- list content -------- */
.contentWrapper {
  background-color: var(--primary-tint-color);
}
.contentContainer {
  display: grid;
  justify-content: flex-start;
}
.contentTitle {
  color: var(--primary-dark-color);
}
.contentList {
  margin-bottom: 10px;
}
.contentList li {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  line-height: 33px;
}
.contentList li .icon {
  margin-right: 10px;
  color: var(--primary-dark-color);
  font-weight: 700;
  flex-shrink: 0;
  position: relative;
  top: 3.2px;
}
.contentInfoText {
  color: #494949;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* ---------- categories ---------- */
.categoriesWrapper {
  background-color: var(--primary-tint-color);
}
.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesContainer .rightInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categoriesContainer img {
  border-radius: 8px;
}
.categoryTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--primary-dark-color);
}
.categoryDesc {
  color: var(--black-color);
}

/* ------------------------------------ media queries -------------------------------
  ------------------------------------------------------------------------------------- */
@media (max-width: 1440px) {
  /* --------- counter ------------ */
  .counterContainer {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  /* --------- about info ------------ */
  .aboutInfoContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    gap: 40px;
    place-items: center;
  }
  .aboutInfoContainer img {
    width: 50%;
  }
  .aboutInfoContainer h2 {
    display: grid;
    place-items: center;
    text-align: center;
  }

  /* ----------- products ----------- */
  .productContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  /* --------- counter ------------ */
  .counterContainer {
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    box-shadow: none;
    gap: 30px;
  }
  .counterItem {
    box-shadow: 4px 3px 6px 1px #00000012;
    border-radius: 8px;
    width: 300px;
  }
}

@media (max-width: 768px) {
  /* --------- about info ------------ */
  .aboutInfoContainer img {
    width: 70%;
  }
}

@media (max-width: 460px) {
  /* --------- about info ------------ */
  .aboutInfoContainer {
    gap: 20px;
  }
  .aboutInfoContainer img {
    width: 100%;
  }

  /* ----------- products ----------- */
  .productCard .imgContainer {
    height: 220px;
  }

  /* ---------- categories ---------- */
  .categoriesContainer img {
    width: 85%;
  }
}

@media (max-width: 375px) {
  /* --------- counter ------------ */
  .counterItem {
    width: 250px;
    padding: 20px 20px;
    gap: 10px;
  }
}
