.cartWrapper {
  display: grid;
  grid-template-columns: minmax(500px, 750px) minmax(300px, 350px);
  gap: 100px;
}
.productCard {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}
.productInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.summeryRow {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .cartWrapper {
    display: flex;
    gap: 50px;
    flex-direction: column;
    max-width: 700px;
  }
}
