.cardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  background-color: white;
}
.title {
  color: var(--black-color);
}
.description {
  color: var(--black-tint-color);
  margin-top: 5px;
}
