.breadCrumbContainer {
  margin-bottom: 15px;
}

.card {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
.name {
  color: var(--black-color);
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 7px;
  margin-bottom: 10px;
}
.priceContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price {
  margin-top: 10px;
  position: relative;
}
.textFade {
  opacity: 0.6;
}
.crossDivider {
  position: absolute;
  top: 45%;
  transform: translate(-2.5px, -50%);
  left: 0;
  height: 0;
  width: calc(100% + 5px);
  border-top: 1px solid var(--black-tint-color);
  opacity: 1;
}

.soldOut {
  color: #4d4d4d;
  margin-top: 10px;
}
.collectionName {
  font-family: var(--default-font-family);
  margin-left: 10px;
}
.cartButton:global(.button) {
  color: var(--white-color);
  min-width: 250px !important;
  background-color: var(--primary-dark-color);
  margin: 20px 0;
  border-radius: 12px;
  padding: 10px 0;
}
.cartButton:global(.button:hover) {
  background-color: var(--primary-dark-color);
}
.quantityButton {
  padding: 3px 15px;
  margin-top: 8px;
  border-radius: 5px;
  width: 100px;
}
.quantityLable {
  color: var(--black-tint-color);
  margin-top: 20px;
}
.details {
  margin-top: 15px;
  margin-bottom: 15px;
}
.details p {
  margin-bottom: 2px;
}
/* ---------- chat ---------- */
.chatContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.chatContainer .icon {
  font-size: 20px;
}
.chatContainer .text {
  display: flex;
}
.chatContainer .link {
  text-decoration: underline;
  margin-left: 3px;
}
/* ---------- shipping ---------- */
.shippingContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.shippingContainer .icon {
  font-size: 20px;
}
.shippingContainer .text {
  display: flex;
}

/* ---------- simillar collections ---------- */

.collectionsContainer .title {
  margin-bottom: 30px;
}
.collectionsSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 15px;
  margin-top: 20px;
}

.mobilePreviewSlider {
  display: none;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 1024px) {
  .cartButton:global(.button) {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .card {
    grid-template-columns: 1fr;
  }
  .previewContainer {
    display: none;
  }
  .cartButton:global(.button) {
    padding: 12px 0;
  }
}

@media (max-width: 550px) {
  .card {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
