.quantityButton:global(.button) {
  font-size: 14px;
  border: 1px solid gray;
  background-color: transparent;
  cursor: unset;
  position: relative;
  padding: 6px 2px;
}
.quantity {
  color: var(--black-dark-color);
}
.minusIcon,
.plusIcon {
  color: var(--black-dark-color);
  cursor: pointer;
  position: absolute;
}
.minusIcon {
  top: 50%;
  transform: translate(0%, -50%);
  left: 9px;
}
.plusIcon {
  top: 50%;
  transform: translate(0%, -50%);
  right: 9px;
}

.disabled {
  border: 1px solid #a5a5a5 !important;
}
.disabled .minusIcon,
.disabled .plusIcon,
.disabled .quantity {
  color: #a5a5a5;
}
.minusIcon.iconDisabled,
.plusIcon.iconDisabled {
  cursor: default;
  color: #a5a5a5;
}
