.contactForm {
  width: 100%;
}

/*------------ input -----------*/
.contactForm :global(.ant-form-item) {
  margin-bottom: 30px;
}
.contactForm :global(.ant-form-item input) {
  height: 45px;
  border-radius: 3px;
  background-color: #ffffff !important;
  color: #cecece;
  font-weight: 300;
  letter-spacing: 0.5px;
  border-color: transparent !important;
}
.contactForm :global(.ant-input:hover),
.contactForm :global(.ant-input:focus) {
  border-color: #ffffff1c !important;
  transition: all 0.5s;
}
.contactForm :global(.ant-form-item input::placeholder),
.contactForm :global(.ant-form-item textarea::placeholder) {
  color: #777777;
}

/*----------- text area ----------*/
.contactForm :global(.ant-form-item textarea) {
  width: 100%;
  height: 65px;
  border-radius: 3px;
  height: 75px;
  border-radius: 3px;
  background-color: white !important;
  color: #cecece;
  border-color: transparent !important;
  font-weight: 300;
  letter-spacing: 0.5px;
}

/*------------ input error ---------*/
.contactForm :global(.ant-form-item .ant-form-item-explain-error) {
  font-size: 12px;
}

/*------------ button -----------*/
.contactForm :global(.ant-form-item button) {
  background-size: 200% 100%;
  background-position: right center;
  width: 120px;
  height: fit-content;
  transition: all 0.5s;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 300;
  background: var(--primary-color) !important;
  border-color: transparent !important;
  padding: 4px 30px !important;
  color: #ffffff !important;
}
.contactForm :global(.ant-btn-primary:hover) {
  transition: all 0.5s;
  background-size: 200% 100%;
  background-position: right center;
  background: var(--primary-dark-color) !important;
}

/* ----------------media quries----------------
   -------------------------------------------- */
@media (max-width: 425px) {
  .contactForm :global(.ant-form-item button) {
    width: 130px;
    height: 40px;
    font-size: 17px;
  }
}
