.filterContainer {
  display: grid;
  gap: 20px;
  height: fit-content;
}
.title {
  margin-bottom: 5px;
}
.body {
  gap: 0;
}
.checkboxText {
  margin-top: 5px;
  color: var(--black-tint-color);
}

/* ---------- section ---------- */
.divider {
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 20px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 690px) {
  .body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, auto));
    row-gap: 10px;
  }
  .priceSection .body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
