.cardContainer {
  display: grid;
  box-shadow: var(--box-shadow-color);
  border-radius: 8px;
  padding: 25px;
  margin: 0px 14px;
  gap: 8px;
  background-color: white;
}
.title {
  color: var(--black-color);
}
.description {
  color: var(--black-tint-color);
}
