/* :root {
  --white-color: #ffffff;
  --white-light-color: #dddddd;
  --white-tint-color: #bbbbbb;
  --white-dark-color: #aaaaaa;

  --black-color: #000000;
  --black-light-color: #666666;
  --black-tint-color: #444444;
  --black-dark-color: #222222;

  --gray-bgcolor: #f1f1f1;
  --gray-light-bgcolor: #f9f9f9;
  --gray-tint-bgcolor: #f4f4f4;

  --box-shadow-color: 1px 1px 14px 1px #0000000d;
} */

:root {
  /* ---------- white ---------- */
  --white-dark-400: #999999;
  --white-dark-300: #b3b3b3;
  --white-dark-200: #cccccc;
  --white-dark-100: #e6e6e6;
  --white-color: #ffffff;
  --white-light-100: #e0e0e0;
  --white-light-200: #ebebeb;
  --white-light-300: #f2f2f2;
  --white-light-400: #f5f5f5;

  /* ---------- black ---------- */
  --black-dark-400: #000000;
  --black-dark-300: #000000;
  --black-dark-200: #000000;
  --black-dark-100: #000000;
  --black-color: #000000;
  --black-light-100: #1a1a1a;
  --black-light-200: #4d4d4d;
  --black-light-300: #666666;
  --black-light-400: #808080;

  /* ---------- gray ---------- */
  --gray-dark-400: #1a1a1a;
  --gray-dark-300: #333333;
  --gray-dark-200: #4d4d4d;
  --gray-dark-100: #666666;
  --gray-color: #808080;
  --gray-light-100: #999999;
  --gray-light-200: #cccccc;
  --gray-light-300: #e6e6e6;
  --gray-light-400: #f5f5f5;

  /* ---------- shadow ---------- */
  --box-shadow-100: 1px 1px 14px 1px #0000000d;
}
