@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 10px;
}

:root {
  --title-font-family: "Philosopher", sans-serif;
  --text-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;

  --web-width: 90%;
  --web-maxwidth: calc(100% - 40px);
}

:root {
  /* ---------- primary ---------- */
  --primary-dark-400: #001b57;
  --primary-dark-300: #002c8a;
  --primary-dark-200: #003cbd;
  --primary-dark-100: #004cf0;
  --primary-color: #256aff;
  --primary-light-100: #578cff;
  --primary-light-200: #bed2fd;
  --primary-light-300: #e2ebfd;
  --primary-light-400: #ecf2fd;

  /* ---------- secondary ---------- */
  --secondary-dark-400: #1a0500;
  --secondary-dark-300: #330a00;
  --secondary-dark-200: #4d0f00;
  --secondary-dark-100: #661400;
  --secondary-color: #671602;
  --secondary-light-100: #9b2203;
  --secondary-light-200: #f43e10;
  --secondary-light-300: #f16846;
  --secondary-light-400: #f19179;
}
