@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 10px;
}

:root {
  --title-font-family: "Philosopher", sans-serif;
  --text-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;

  --web-width: 90%;
  --web-maxwidth: calc(100% - 40px);
}

:root {
  /* ---------- theme colors ---------- */
  --primary-color: #256aff;
  --primary-bold-color: #0a3cbf;
  --primary-dark-color: #194fd9;
  --primary-medium-color: #5b8fff;
  --primary-light-color: #a8c5ff;
  --primary-thin-color: #e6f0ff;

  --secondary-color: #000000;
  --secondary-bold-color: #0d0d0d;
  --secondary-dark-color: #1a1a1a;
  --secondary-medium-color: #333333;
  --secondary-light-color: #666666;
  --secondary-thin-color: #999999;
}
