:root {
  --title-line-height: 1.4;
  --title-letter-spacing: 0.1px;
  --title-scale: 1rem;

  --title-font-weight: 300;

  --title-10: 1rem;
  --title-12: 1.2rem;
  --title-14: 1.4rem;
  --title-16: 1.6rem;
  --title-18: 1.8rem;
  --title-20: 2rem;
  --title-22: 2.2rem;
  --title-24: 2.4rem;
  --title-26: 2.6rem;
  --title-28: 2.8rem;
  --title-30: 3rem;
  --title-32: 3.2rem;
  --title-34: 3.4rem;
  --title-36: 3.6rem;
  --title-38: 3.8rem;
  --title-40: 4rem;
  --title-42: 4.2rem;
  --title-44: 4.4rem;
  --title-46: 4.6rem;
  --title-48: 4.8rem;
  --title-50: 5rem;
}

[class^="title-"],
[class*=" title-"] {
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);

  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.title {
  font-family: var(--title-font-family);
}

.title-10 {
  --font-size: var(--title-10);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-12 {
  --font-size: var(--title-12);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-14 {
  --font-size: var(--title-14);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-16 {
  --font-size: var(--title-16);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-18 {
  --font-size: var(--title-18);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-20 {
  --font-size: var(--title-20);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-22 {
  --font-size: var(--title-22);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-24 {
  --font-size: var(--title-24);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-26 {
  --font-size: var(--title-26);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-28 {
  --font-size: var(--title-28);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-30 {
  --font-size: var(--title-30);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-32 {
  --font-size: var(--title-32);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-34 {
  --font-size: var(--title-34);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-36 {
  --font-size: var(--title-36);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-38 {
  --font-size: var(--title-38);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-40 {
  --font-size: var(--title-40);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-42 {
  --font-size: var(--title-42);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-44 {
  --font-size: var(--title-44);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-46 {
  --font-size: var(--title-46);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-48 {
  --font-size: var(--title-48);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}
.title-50 {
  --font-size: var(--title-50);
  --line-height: var(--title-line-height);
  --letter-spacing: var(--title-letter-spacing);
}

@media (max-width: 780px) {
  [class^="title-"],
  [class*=" title-"] {
    font-size: calc(var(--font-size) - 0.5rem);
  }
}
