/* ---------- home banner --------- */
.bannerWrapper {
  height: calc(100vh - 80px);
}
.bannerWrapper img,
.bannerWrapper span {
  filter: brightness(90%) !important;
}
.bannerContent {
  z-index: 1;
  padding: 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bannerContent h1 {
  color: white;
  font-weight: 200;
  letter-spacing: 0.8px;
}
.bannerContent h1 span {
  color: var(--color-red);
  font-weight: 500;
}
.bannerContent .button {
  color: white;
  text-align: center;
  margin-top: 20px;
  height: fit-content;
  background-color: #ffffff38;
  border: 1px solid white;
  padding: 10px 20px;
  width: max-content;
  transition: all 0.5s;
}
.bannerContent .button:hover {
  background-color: white;
  color: var(--primary-color);
  backdrop-filter: blur(10px);
}

/* ---------- video banner ---------- */
.videoPlayerContainer {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
}
.videoPlayerContainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.8);
}
.videoPlayerContainer .textSection {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.videoPlayerContainer .textSection .title {
  color: white;
  width: 90%;
  line-height: 53px;
}
.videoPlayerContainer .textSection .watchButton {
  border: 1px solid white;
  padding: 10px 20px;
  width: max-content;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}
.videoPlayerContainer .textSection .watchButton .icon {
  font-size: 30px;
}

/* ---------- collections ---------- */
.collectionWrapper {
  background-color: var(--primary-light-color);
}
.collectionWrapper .title {
  color: var(--secondary-color);
}
.collectionContainer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 20px;
}

/* ---------- featured products ---------- */
.featuredProductsWrapper {
  background-color: var(--primary-light-color);
}
.featuredProductsWrapper .title {
  color: var(--seconday-color);
}
.featuredProductsWrapper .button {
  padding: 5px 30px;
  background-color: var(--primary-color);
  color: white;
  width: max-content;
  border-radius: 6px;
  margin-top: 25px;
  margin-bottom: 40px;
  transition: all 0.5s;
}
.featuredProductsWrapper .button:hover {
  background-color: var(--primary-dark-color);
}

/* ---------- testimonial ---------- */
.testimonialWrapper {
}
.testimonialWrapper .title {
  color: var(--secondary-color);
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 1000px) {
  .collectionContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 500px) {
  .collectionContainer {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .videoPlayerContainer .textSection {
    gap: 20px;
  }
  .videoPlayerContainer {
    overflow: hidden;
  }
}
