.componentRenderContainer {
  margin-bottom: 50px;
}
.componentRenderContainer .description {
  margin-top: 5px;
  color: var(--black-color-200);
}

.rootComopnentTitle {
  margin-bottom: 15px;
}
.titleContainer {
  width: 100%;
  position: sticky;
  top: 75px;
  background-color: var(--white-color);
  margin-bottom: 30px;
}
.titleContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--black-color);
}
.navigateBack {
  cursor: pointer;
}
.variantsContainer {
  display: grid;
  gap: 30px;
}
.count {
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: 50%;
  font-weight: 400;
  margin: 0 1px;
  display: inline-block;
  text-align: center;
  padding: 1.2px 0;
  width: 21px;
}

/* ---------- subcards ---------- */
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.subCardsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--gray-color-100);
}
.subCardsContainer .card {
  width: 200px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid var(--gray-color-200);
}
.subCardsContainer .card:hover,
.subCardsContainer .card.active {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color-100);
  color: var(--primary-color);
}

/* ---------- not found ---------- */
.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 144px);
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .titleContainer {
    padding-top: 0px;
  }
}
