.componentRenderContainer {
  margin-bottom: 50px;
}
.componentRenderContainer .description {
  margin-top: 5px;
  color: var(--black-light-200);
}
.titleContainer {
  width: 100%;
  position: sticky;
  top: 75px;
  background-color: var(--white-color);
  margin-bottom: 25px;
  padding: 20px 0 15px 0;
}
.titleContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  /* box-shadow: 0 4px 6px #0000000a; */
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--black-color);
}
.navigateBack {
  cursor: pointer;
}
.variantsContainer {
  display: grid;
  gap: 30px;
}
.count {
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: 50%;
  font-weight: 400;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  padding: 1.2px 0;
  width: 21px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .titleContainer {
    padding-top: 0px;
  }
}
