.componentRenderContainer {
  margin-bottom: 50px;
}
.componentRenderContainer .description {
  margin-top: 5px;
}
.titleContainer {
  width: 100%;
  position: sticky;
  top: 75px;
  background-color: var(--white-color);
  margin-bottom: 25px;
  padding: 25px 0 15px 0;
  z-index: 99;
}
.titleContainer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  box-shadow: 0 4px 6px #0000000a;
  pointer-events: none;
}

.title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--black-color);
}
.navigateBack {
  cursor: pointer;
}
.title .icon {
  rotate: 180deg;
  position: relative;
  right: 5px;
  font-size: 23px;
}
.variantsContainer {
  display: grid;
  gap: 30px;
}
.count {
  color: var(--white-color);
  padding: 1.5px 3px 3.5px 3px;
  background-color: var(--black-dark-color);
  border-radius: 50%;
  font-weight: 400;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  text-align: center;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 1170px) {
  .titleContainer {
    top: 70px;
    padding-top: 10px;
  }
  .title .icon {
    font-size: 20px;
  }
}
