.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  cursor: pointer;
  overflow: hidden;
}
.cardContainer img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  scale: 1;
  transition: scale 0.5s;
  object-fit: cover;
}
.cardContainer:hover img {
  scale: 1.05;
}
.cardContainer,
.imgWrapper,
.cardContainer img,
.cardContainer::before {
  border-radius: 10px;
  overflow: hidden;
}

/* ---------- bottom section ---------- */
.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 90px;
}
.cardContainer p:nth-of-type(1) {
  margin-top: 14px;
  text-align: center;
}
.cardContainer p:nth-of-type(2) {
  color: var(--black-color-light);
  text-align: center;
}

/* ---------- view button ---------- */
.imgWrapper {
  position: relative;
}
.cardContainer:hover .imgWrapper .viewButton p {
  transform: translateY(-20px);
}
.viewButton {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.viewButton p {
  transform: translateY(100px);
  transition: transform 0.5s;
  border-radius: 25px;
  padding: 6px 22px;
  background-color: #ffffffe8;
  backdrop-filter: blur(5px);
  color: var(--black-soft-color);
  display: grid;
  place-items: center;
  width: fit-content;
}
