.filterWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
  border-radius: 20px 20px 0 0;
}
.filterTitle {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: var(--black-color);
  font-family: titleFont;
}

/* ---------- filter override ---------- */
.filter {
  width: 80%;
  max-width: 400px;
  margin-top: 10px;
}
.filter .body {
  gap: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
}

/* ---------- close buton ---------- */
.closeButton {
  border-radius: 25px;
  background-color: var(--black-color);
  color: white;
  padding: 8px 45px 7px 45px;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* ---------- filter button ---------- */
.filterButton {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background-color: var(--black-color);
  color: white;
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 7px 31px;
  transform: translateX(-50%);
  letter-spacing: 1.1px;
}
.filterButton .icon {
}
