.menuContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--black-tint-color);
}
.menuContainer:hover,
.menuContainer.active {
  background-color: #efefef;
  border-radius: 7px;
  color: var(--black-dark-color);
}
.menuContainer .icon {
  font-size: 15px;
}
.panelContainer {
  display: grid;
  gap: 8px;
  padding-right: 30px;
}
.panelWrapper {
  border-right: 1px solid var(--white-light-color);
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 900px) {
  .panelWrapper {
    border-right: none;
  }
  .panelContainer {
    padding-right: 0px;
  }
}
