/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  opacity: 0;
  transition: opacity 1s ease; /* Transition effect */
}

/* Show the modal */
.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease; /* Transition effect */
}

/* Modal content */
.modal-content {
  position: relative;
  margin: 15% auto; /* Center the modal */
  width: 70%;
  background: #fff;
  border-radius: 8px;
  transform: translateY(-50px);
  transition: transform 0.3s ease; /* Transition effect for modal content */
}

.modal.show .modal-content {
  transform: translateY(0); /* Slide the modal down */
  background-color: transparent;
}

/* The Close Button */
.close {
  position: absolute;
  right: 0;
  top: -65px;
  font-size: 35px;
  cursor: pointer;
  color: white;
}
