.ordersWrapper {
  display: grid;
  gap: 25px;
}
.ordersContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid var(--white-light-color);
  border-radius: 8px;
  padding: 15px;
  width: calc(100% - 32px);
  max-width: 900px;
}
.emptyWrapper {
  height: 100%;
  display: grid;
  place-content: center;
}
.productInfoContainer {
  display: flex;
  width: 52%;
  justify-content: space-between;
}

/* ---------- left section ---------- */
.orderLeftSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.totalPrice {
  display: flex;
  gap: 10px;
}
.productContainer {
  display: flex;
  gap: 15px;
}
.productInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.productName {
  color: var(--black-dark-color);
  max-width: 150px;
}
.price {
  color: var(--black-tint-color);
}
.image {
  width: 65px;
  height: 80px;
  position: relative;
}
.image::after {
  content: "";
  width: 65px;
  height: 80px;
  background: #0000000f;
  position: absolute;
  top: 0;
  right: 0;
}

/* ---------- center section ---------- */
.priceDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.priceDetails .symbol {
  margin-right: 2.5px;
}
.orderStatusIcon {
  display: inline-block;
  width: 11px;
  height: 12px;
  border-radius: 3.5px;
  background-color: #00a400;
  position: relative;
  top: -1px;
}
.orderTitle {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--black-dark-color);
}
.orderDate {
  color: var(--black-tint-color);
}

/* ---------- right section ---------- */
.orderRightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.orderId {
  color: var(--black-dark-color);
  display: flex;
  gap: 5px;
}
.orderId span {
  color: var(--black-tint-color);
}

/* ---------- download button ---------- */
.downloadButton:global(.button) {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 1px 10px;
  background-color: transparent;
  border: 0.5px solid var(--white-dark-color);
  transition: 0.3s all;
}
.downloadButton .icon,
.downloadText {
  color: var(--black-tint-color);
  transition: 0.3s all;
}
.downloadButton:hover {
  border: 1px solid #136dff;
}
.downloadButton:hover .icon,
.downloadButton:hover .downloadText {
  color: #136dff;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */

@media (max-width: 600px) {
  .ordersContainer {
    flex-direction: column-reverse;
    gap: 0px;
  }
  .downloadButton:global(.button) {
    padding: 0px 15px;
  }
  .downloadButton .icon,
  .downloadText {
    color: var(--black-tint-color);
  }
  .productName {
    max-width: 100%;
  }
  .orderLeftSection {
    gap: 10px;
  }
  .priceDetails {
    gap: 3px;
  }
  .orderTitle {
    line-height: 15px !important;
  }
  .orderId {
    gap: 5px;
    line-height: 15px !important;
  }
  .productContainer {
    margin-top: 10px;
  }
  .productInfoContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
