.logoContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.icon {
  padding: 7px;
}

.githubContainer {
  display: flex;
  align-items: center;
  background-color: var(--black-color);
  border-radius: 12px;
  color: var(--white-color);
  padding: 0px 15px 0px 10px;
  margin-left: 10px;
  transition: all 0.3s;
}

.githubContainer:hover {
  color: var(--white-color-300);
}
