.logoContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.icon {
  color: var(--black-tint-color);
  border-radius: 6px;
  padding: 7px;
  transition: all 0.2s;
  cursor: pointer;
}
.icon:hover {
  background-color: var(--white-thin-color);
}
