.testimonialSlider :global(.swiper-slide) {
  width: 450px;
  box-shadow: var(--box-shadow-color);
  border-radius: 8px;
  padding: 25px;
  margin: 45px 14px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 460px) {
  .testimonialSlider :global(.swiper-wrapper) {
    gap: 10px;
  }

  .testimonialSlider :global(.swiper-slide) {
    width: calc(100% - 45px);
    padding: 15px 20px;
    margin: 20px 6px;
  }
}
