/* ---------- my profile ---------- */
.accountForm {
  width: 100%;
  max-width: 500px;
}
.accountForm :global(.ant-form-item input) {
  border-radius: 8px !important;
  border-color: var(--white-dark-color) !important;
  background-color: transparent !important;
}
.accountForm :global(.ant-form-item) {
  margin-bottom: 10px;
}
.twoColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
}
.button {
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
  padding: 6px 40px !important;
  border-radius: 8px !important;
  margin-top: 30px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .accountForm {
    width: 100%;
    max-width: 100%;
  }
  .twoColumn {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
