.leftComponent {
  width: 200px;
  height: calc(100vh - 150px);
  border-right: 0.5px solid var(--white-light-200);
  overflow: auto;
  position: fixed;
  padding-right: 20px;
}
.leftWrapper {
  height: 100%;
  margin-top: 23px;
}

/* ---------- section ---------- */
.section {
  margin-bottom: 25px;
}
.section .label {
  color: var(--black-light-100);
  margin-bottom: 5px;
}

/* ---------- menu ---------- */
.menuContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.menuContainer .label {
  color: var(--black-light-400);
  margin-bottom: 5px;
  padding: 4px 12px;
}
.menuContainer .label.active {
  color: var(--primary-color);
}

/* ---------- menu item---------- */
.menuItem {
  color: var(--black-light-200);
  transition: color 0.2s;
  padding: 4px 12px;
  margin-top: 4px;
  transition: all 0.3s;
  border-radius: 6px;
  cursor: pointer;
}
.menuItem.active {
  color: var(--primary-color);
  background: var(--primary-light-400);
}
.menuItem.hover:hover {
  color: var(--primary-color);
  background: var(--primary-light-400);
}

/* ---------- sub menu ---------- */
.subMenuItem {
  margin-left: 20px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 768px) {
  .leftComponent {
    display: none;
  }
}
