/* ---------- container ---------- */
.accordianWrapper {
  display: grid;
  gap: 10px;
}
.accordianContainer {
  display: grid;
  gap: 15px;
}
.titleSection {
  padding: 15px 25px;
  background-color: #f4f4f4;
  border-radius: 50px;
  cursor: pointer;
  display: grid;
  color: var(--black-color);
  grid-template-columns: 1fr max-content;
  gap: 10px;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}
.dropdown {
  color: var(--black-soft-color);
}
/* .titleSection.active {
  background-color: var(--primary-color);
  color: white;
} */
.icon {
  transition: transform 0.3s;
}
.rotateIcon {
  transform: rotate(90deg);
}

/* ---------- dropdown ---------- */
.dropdown {
  margin-left: 25px;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0px;
  transition: max-height 0.5s;
  transition: margin-bottom 0.5s;
}
.showDropdown {
  max-height: 500px;
  margin-bottom: 20px;
}

.faqsDescription .text,
ul li {
  color: var(--black-tint-color);
}
.faqsDescription .textPaddingTop10 {
  padding-top: 10px;
}
.faqsDescription .textPaddingTop20 {
  padding-top: 20px;
}
.faqsDescription span {
  color: var(--black-dark-color);
  font-weight: var(--font-weight-500);
}
.faqsDescription ul {
  margin-left: 15px;
  color: var(--black-color-light);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
