/* ---------- form @overirde ---------- */
.checkoutForm :global(.ant-form-item) {
  margin-bottom: 20px;
}
.checkoutForm :global(.ant-form-item input) {
  border-color: var(--black-light-color) !important;
  background-color: transparent !important;
  border-radius: 7px !important;
}

.checkoutContainer {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 80px;
}
.breadCrumbWrapper {
  display: flex;
  justify-content: flex-start;
}

/* ---------- badge ---------- */
.badgeContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.paymentBadge {
  margin-top: 35px;
}
.badge {
  padding: 5px;
  width: 15px;
  line-height: 0;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 15px;
}
.badgeText {
  color: var(--black-dark-color);
}

/* ---------- payment info ---------- */
.paymentInfo {
  color: var(--black-light-color);
  margin-bottom: 15px;
}
.orderButton:global(.button) {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 6px;
  width: 50%;
  padding: 10px 0px;
}

/* ---------- order summary ---------- */
.checkoutRightSection {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 25px 30px;
  height: fit-content;
}
.SummeryTitle {
  margin-bottom: 15px;
}
.ordersListWrapper {
  display: grid;
  gap: 10px;
  border-bottom: 1px solid var(--white-light-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.orderLeftSection {
  display: flex;
  align-items: center;
  gap: 15px;
}
.ordersContainer {
  display: grid;
  grid-template-columns: 70px 1fr 1fr;
  gap: 15px;
  grid-template-rows: 90px;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: fit-content;
}
.orderItemPrice {
  text-align: end;
}
.imgContainer {
  position: relative;
}
.productImage {
  width: 100%;
  height: 100%;
}
.imageContainer {
  height: 100%;
  position: relative;
}
.imageContainer .count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--black-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.summeryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.summeryRow.lastRow {
  margin-top: 20px;
}
.rowTitle {
  color: #424242;
}
.rowValue {
  font-size: 16px;
  color: var(--black-tint-color);
}
.couponCode .rowValue {
  color: #008f4d;
}

.totalAmountRow {
  border-top: 1px solid var(--white-light-color);
  margin-top: 16px;
  padding-top: 10px;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 1300px) {
  .checkoutContainer {
    grid-template-columns: 1fr 400px;
    gap: 50px;
  }
}
@media (max-width: 1024px) {
  .checkoutContainer {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .orderButton {
    width: 100% !important;
    padding: 10px 10px !important;
  }
}
@media (max-width: 768px) {
  .checkoutContainer {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
  }
}
