.wrapper {
  display: flex;
  align-items: center;
  background: #000621;
  color: var(--white-color-400);
  border: 1px solid #ddd;
  padding: 13px 15px;
  border-radius: 10px;
  max-width: 500px;
  overflow-x: auto;
}

.command {
  flex-grow: 1;
  user-select: text;
  overflow-wrap: anywhere;
}

.copyButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
  color: var(--white-light-color);
}
