@supports (-webkit-overflow-scrolling: touch) {
  .imageContainer {
    -webkit-overflow-scrolling: touch;
  }
}
.previewContainer {
  display: flex;
  width: 500px;
  height: 550px;
  --preview-height: 550px;
  gap: 10px;
}

/* ---------- image carousel ---------- */
.imageCarousel {
  min-width: 100px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}
.imageCarousel img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.5s;
  border-radius: 7px;
}
.imageCarousel img:hover {
  opacity: 1;
}
.imageCarousel img.active {
  opacity: 1;
}

/* ---------- mobile preview slider ---------- */
.mobilePreviewSlider {
  display: none;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */
@media (max-width: 550px) {
  .previewContainer {
    display: none;
    width: 100%;
  }
  .mobilePreviewSlider {
    display: block;
    display: grid;
  }
}
