.collectionsContaier {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
}
.collectionsContaier .description {
  margin-top: 8px;
  color: var(--black-light-300);
}
.collectionsCards {
  display: grid;
  grid-auto-flow: column; /* Fill rows first, then add new columns */
  grid-auto-rows: auto;
  grid-template-rows: repeat(10, auto); /* Limit to 15 rows per column */
  row-gap: 25px;
  column-gap: 50px;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  justify-content: start;
}

.collectionsCards .card {
  /* box-shadow: 4px 3px 6px 1px #00000012; */
  display: grid;
  /* place-items: center; */
  height: 35px;
  width: 250px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border 0.5s;
  /* background-color: var(--white-color); */
}
.collectionsCards .card p {
  transition: color 0.2s;
  color: var(--black-light-200);
}

.collectionsCards .card:hover p {
  color: var(--primary-color);
}

.subCardWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-right: 0;
  border-left: 0;
  padding: 60px 0px 30px 0px;
  /* position: relative; */
  margin: 20px 0;
}
.subCardContainer {
  display: grid;
  gap: 15px;
  color: var(--black-light-200);
}
.subCardTitle {
  /* position: absolute;
  top: 5px; */
  color: var(--black-color);
  background-color: var(--gray-light-400);
  padding: 8px 20px;
  border-radius: 8px;
  width: 215px;
  text-align: center;
}

/* ------------------------ media queries ------------------------ */
/* --------------------------------------------------------------- */

@media (max-width: 590px) {
  .subCardContainer .card {
    align-items: center;
    justify-content: center;
  }
  .collectionsCards {
    justify-content: center;
    margin-top: 20px;
  }
  .subCardWrapper {
    justify-content: center;
  }
  .subCardContainer {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .collectionsContaier .description {
    margin-top: 10px;
  }
  .collectionsCards {
    gap: 20px;
  }
  .collectionsCards .card {
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
