.positionSticky {
  position: sticky !important;
}
.heightFit {
  height: fit-content !important;
}
.heightMax {
  height: 300px !important;
}
.autoLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
